.addmodal {
    width: 343px;
    height: 157px;
    position: absolute;
    margin: auto;
    right: 0px;
    top: 2%;
    left: 0px;
    background-color: wheat;
    border-radius: 30px;
}

.head {
    display: block;
    font-size: 20px;
    color: green;
}

.text {
    margin-top: 10px;
    width: 250px;
    height: 28px;
    border-radius: 5px;
    padding-right: 0px;
    background-color: #ED8F03;
    color: black;
}

.addbutton {
    display: block;
    margin: 10px auto;
}