.boxbody {
    height: 500px;
    width: 400px;
    color: #ED8F03;
    background-color: ANTIQUEWHITE;
    margin: auto;
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    border-radius: 30px;
}

.list {
    margin: 50px 0;
    background-color: black;
    height: 400px;
}