.todolist {
    height: 40px;
}

.todolist:hover .bin {
    display: block;
  }

.bin {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

.task {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.date {
    right: 0;
    position: absolute;
    color: blue;
}

.priority {
    right: -70px;
    position: absolute;
    color: chartreuse;
}