.todolist {
    height: 40px;
}

.todolist:hover .bin {
    display: block;
  }

.bin {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.date {
    color: blue;
}

.priority {
    color: chartreuse;
}